* {
  padding: 0;
  margin: 0;
  overflow: auto;
  min-height: auto;
  min-width: auto;
}

.nav-bar, .footer {
  display: block;
  list-style-type: none;
  width: auto;
  margin: auto;
  padding: 15px;
  overflow: hidden;
}

.nav-bar {
  top: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  border-top: 1px solid lightgray;
  background-color: #f2f2f2;
}

.nav-bar-list li, .footer-list li {
  display: inline;
  padding: 12px;
}

.nav-bar-list li a, .footer-list li a {
  text-align: center;
  font-family: "Open Sans";
  font-size-adjust: auto;
  color: dimgray;
  text-decoration: none;
  
  padding: 10px;
}

.left-nav-items, .left-footer-items {
  float: left;
}

.right-nav-items, .right-footer-items {
  float: right;
}

.spacer {
  margin: 25px;
}

.logo {
  display: block;
  align-self: center;
  
  padding: 20px;
}

#google-logo {
  display: block;
  margin: auto;
}

.form {
  display: block;
  margin: auto;
  width: auto;
}

#search-bar {
  display: block;
  margin: auto;
  width: 300px;
  height: 20px;
  align-self: center;
  text-align: left;
  font-family: "Open Sans";
  font-size: auto;
  
  padding: 5px;
}