* {
  padding: 0;
  margin: 0;
}

.logo {
  display: block;
  align-self: center;
  
  padding: 20px;
}

#google-logo {
  display: block;
  margin: auto;
}

#search-bar {
  display: block;
  margin: auto;
  width: 250px;
  align-self: center;
  text-align: center;
  
  padding: 5px;
}