* {
  padding: 0;
  margin: 0;
}

.nav-bar-list {
  display: block;
  list-style-type: none;
  width: auto;
  margin: auto;
  padding: 15px;
  overflow: hidden;
}

.nav-bar-list li {
  display: inline;
  padding: 12px;
}

.nav-bar-list li a {
  text-align: center;
  font-family: "Open Sans";
  font-size-adjust: auto;
  color: dimgray;
  text-decoration: none;
}

.left-nav-items {
  float: left;
}

.right-nav-items {
  float: right;
}


.logo {
  display: block;
  align-self: center;
  
  padding: 20px;
}

#google-logo {
  display: block;
  margin: auto;
}

#search-bar {
  display: block;
  margin: auto;
  width: 250px;
  align-self: center;
  text-align: center;
  font-family: "Open Sans";
  
  padding: 5px;
}